*{
    margin: 0;
    padding: 0;




}

/*estilizando a main*/
main{
    width: 100vw;
    height: 100vh;
    background-color: #8400ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content img{
    width: 400px;
    height: 400px;
    margin-bottom: 30px
}

.content{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
h1{
color: rgb(0, 0, 0);
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 300px;
}

#not{
    background-color: rgb(180, 0, 69);
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    color:white;

}

#yes{
    background-color: green;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    color: white
}
